<!DOCTYPE html>
<html>
<head><title>Stream Processor Configuration </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="configuration.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
    <link rel="stylesheet" href="http://codemirror.net/theme/eclipse.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://codemirror.net/lib/codemirror.js"></script>
    <script src="http://codemirror.net/mode/yaml/yaml.js"></script>
</head>
<body style="padding-top: 0px">
<div class="container-fluid">
    <div class="row content">
    <div class="col-sm-8 col">
        {{#each this}}
            <div id="nav-b" style="overflow-y:scroll; height: 100vh">
                <table>
                    <tbody>{{> "generateDoc" this}}
                    </tbody>
                </table>
            </div>
        </div>
            <div class="col-sm-4 col">
                <textarea rows="4" cols="50" id="codesnippet_readonly" name="codesnippet_readonly">{{> "yaml" @key}}</textarea>
            </div>
        {{/each}}
        <script>
            var readOnlyCodeMirror = CodeMirror.fromTextArea(document.getElementById('codesnippet_readonly'), {mode: "yaml",lineNumbers: true,theme: "eclipse",lineWrapping: true,scrollbarStyle: "native",readOnly: true});
        </script>
    </div>
</div>
<script>
      function toggleExtra(key){
       $('.extra'+key).toggle('show');
    }
</script>
</body>
</html>



